.buy-head {
    margin-top: 60px;
    margin-left: 42%;
    height: 42px;

    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;

    color: #339a65;
}

.buy-from {
    /* justify-content: space-around; */
    padding-top: 100px;
    display: flex;
    margin-left: 23%;

    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    color: #1A1B1F;
}
.buy-from-sub {
    /* justify-content: space-around; */
    padding-top: 50px;
    display: flex;
    margin-left: 23%;

    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    color: #1A1B1F;
}

.buy-input {
    width: auto;
}