.image {
    justify-items: center;
}

.container2 {
    /* height: 2200px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    padding-bottom: 40px;
}

.M0 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-content : center;
}

.M0-head {
    font-family: Montserrat;
    display: flex;
    margin-top: 70px;
    color: #339a65;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 88px;
    justify-content: center;
}

.M0-detail {
    font-family: Prompt;
    display: flex;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    justify-content: center;
}

.M0-detail-time {
    /* font-family: Montserrat; */
    font-family: Prompt;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
}

.M0-detail-acc {
    /* font-family: Montserrat; */
    font-family: Prompt;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
}

.M0-detail-price {
    font-family: Prompt;
    /* font-family: Montserrat; */
    margin-top: 20px;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    justify-content: center;
}

.M0-detail-price-30000 {
    font-family: Prompt;
    /* font-family: Montserrat; */
    margin-top: 10px;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    justify-content: center;
}

.M0-button {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    font-family: Prompt;
}

.each-fade {
    display: flex;
    width: 100%;
}

.each-fade>div {
    width: 100%;
}

.each-fade>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.each-fade p {
    width: 25%;
    font-size: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #C4C4C4;
}

.slide-contain {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .container2 {
        height: 1200px;
        width: auto;
        justify-content: center;
    }

    .M0-head {
        display: flex;
        margin-top: 70px;
        color: #339a65;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        justify-content: center;
    }

    .M0-detail {
        display: flex;
        flex-direction: row;
        margin: 20px auto 0;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        width: 240px;
        
    }

    .M0-detail-time {
        display: flex;
        margin-top: 70px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        justify-content: center;
        /* margin-left: 43%; */
    }

    .M0-detail-acc {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
    }

    .M0-button {
        justify-Content: "center";
        /* margin-left: 32%; */
        margin-top: 90px;
        padding: 10px;
    }

    .M0-detail-price {
        margin-top: 70px;
        display: flex;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        justify-content: center;
    }

    .M0-detail-price-30000 {
        margin-top: 10px;
        display: flex;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        justify-content: center;
    }

    .slide-contain {
        width: 100%;
    }
    .M0-button {
        flex-direction: column;
    }
}