.image {
    justify-items: center;
}

.M0 {
    /* margin-top: 170px; */
    color: #339a65;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 88px;
    justify-items: center;
}